<template>
  <div class="home-page">
    <header><h1>Home page</h1></header>
    <main>
      <HomeTable/>
    </main>
  </div>
</template>

<script>
  import HomeTable from '@/components/HomeTable'

  export default {
    name: "HomePage",
    components: {
      HomeTable
    }
  }
</script>

<style scoped>

</style>
