<template>
  <table>
    <thead>
    <tr>
      <th>Наименование</th>
      <th>Масса, гр.</th>
      <th>Стоимость, руб.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Яблоки</td>
      <td>1500</td>
      <td>60</td>
    </tr>
    </tbody>
  </table>
</template>

<script>
  export default {
    name: "HomeTable",
    data() {
      return {
        products: []
      }
    }
  }
</script>

<!-- атрибут scoped ограничивает область распространения стилей этим компонентом-->
<style scoped>
  table {

  }
</style>
